*{
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

@media only screen and (max-width: 600px){

    #menu{
        visibility: collapse
    }

    #sobremim{
        align-items: center;
        flex-wrap: wrap;
        margin-right: 0rem;
        margin-top: 0rem;
        margin: 0;
    }

    #titulo{
        text-align: center;
        align-items: center;
        margin-top: 0;
    }

    #listaImagens{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center
    }
}

@media only screen and (max-width: 340px){


    #sobremim{
        flex-direction: row;
        flex-wrap:nowrap
        }

    img.imagens{
        width: 70%
    }

}
   
header {
    display: flex;
    width: 100%;
    min-height: 8vh;
    background-attachment: fixed;
    background-size: cover;
    color: white;
}

header nav{
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end
}

header nav ul{
    display: flex;
}

body{
    background-color: rgba(228, 194, 228, 0.589);
}

#titulo{
    font-size: 1.3rem;
    margin: 1rem 0 0 .5rem;
}

ul#menu{
    display: flex;
    list-style: none; /* remover marcadores */
}

ul#menu li{
    padding: 0.7rem; 
    font-size: 1.3rem;
}

ul#menu a {
    color: white;
    text-decoration: none; /* remover o underline */
}

ul#menu a:hover {
    color: gray;
}

#sectionimg{
    background-image: url(./spaceship.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 18rem;
}

section#sobremim{
    display: flex;
    flex-wrap: wrap;
    word-wrap:break-word;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 2rem; 
    margin-right: 2rem;
    float: right;
    font-size: 1.2rem;
}

#contato{
    text-align: center;
}

#listacontatos{
    text-align: center;   
}

#projetos{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

#listaImagens{
    display: flex;
    flex-direction: column;
}

#card{
    display: none;
    flex-direction: column;
}

.imagens{
    max-width: 100%;
    height: 150px;
    width: 300px;
    object-fit: cover;
    box-shadow: 5px 5px 5px 2px #00000060;
    margin-bottom: 1rem;
}

.imagens:hover{
    box-shadow: 5px 5px 5px 2px #00000098;
}

  button {
    background: #211564;
    color: #fff;
    padding: 0.6rem;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
  }

  button:hover {
    cursor: pointer;
    background: purple;
    transition: 0.3s;
  }

#skills{
    text-align: center;
    padding-bottom: 1rem;
}

footer{
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: white;
    height: 7vh;
    font-size: 0.8rem;
}

footer a{
    color: gray;
    text-decoration: none;
    font-size: 0.8rem;
}

footer a:hover{
    color: white;
}