*{
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

 @media only screen and (max-width: 600px){
    
    header{
        flex-wrap: wrap;
    }
    
    ul#menu a {
        font-size: 1rem;
    }

    section#apresentacao{
        margin-left: 2rem;
    }

    #sobremim{
        align-items: center;
        flex-wrap: wrap;
    }

    #titulo{
        text-align: center;
        align-items: center;
        margin-top: .5rem;
    }

    #listaImagens{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center
    }
}

@media only screen and (max-width: 340px){

    img.imagens{
        width: 70%
    }
} 

header {
    display: flex;
    width: 100%;
    min-height: 8vh;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    justify-content: space-between;
    align-items: center;
}

header nav{
    width: 100%;
    color: white;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}

body{
    background: linear-gradient(#d79be596, #d387e696, #8991e6);
}

#titulo{
    font-size: 1.6rem;
    margin-left: 1rem;
}

ul#menu{
    display: flex;
    list-style: none; /* remover marcadores */
    gap: 0.5rem;
    justify-content: space-between;
}

ul#menu li{
    font-size: 1.3rem;
}

ul#menu a {
    color: white;
    text-decoration: none; /* remover o underline */
}

ul#menu a:hover {
    color: gray;
}

#sectionimg{
    background-image: url(./spaceship.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 18rem;
}

section#apresentacao{
    display: flex;
    flex-wrap: wrap;
    word-wrap:break-word;
    text-align: center;
    align-items: center;
    flex-direction: column;
    color: white;
    margin-top: 3rem; 
    margin-right: 2rem;
    float: right;
    font-size: 1.2rem;
}

#sobremim{
    text-align: center;
    color: #100f3f;
}

#sobremimTx{
    text-align: center;
    font-size: 1.2rem;
    padding: 0 4rem 0 4rem;
    gap: 5rem;
    color: #100f3f;
}

#contato{
    text-align: center;
    color: #100f3f;
}

#listacontatos{
    text-align: center;   
}

#projetos{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    color: #100f3f;
}

#listaImagens{
    display: flex;
    flex-direction: column;
}

#card{
    display: none;
    flex-direction: column;
}

.imagens{
    max-width: 100%;
    height: 150px;
    width: 300px;
    object-fit: cover;
    box-shadow: 5px 5px 5px 2px #00000060;
    margin-bottom: 1rem;
}

.imagens:hover{
    box-shadow: 5px 5px 5px 2px #00000098;
}

  /* botao */
  #default{
    display:inline-block;
    text-decoration: none;
    color: #fff;
    padding: 3px;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
  }

  #default::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: linear-gradient(110deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    background-size: 50% 100%;
    border-radius: inherit;
  }

  button:hover {
    cursor: pointer;
    transition: 0.3s;
  } 

#default:hover::before{
    animation: borderAnimate 0.85s linear infinite;
}

@keyframes borderAnimate {
    to{
        transform: translateX(-50%);
    }
}

#default button{
    display: block;
    background-color: #801f79;
    border-color: #801f79;
    color: #fff;
    padding: 5px 14px;
    border-radius: 3px;
    position:relative;
    z-index: 2;
}
/* fim bottao */

#skills{
    text-align: center;
    padding-bottom: 1rem;
    color: #100f3f;
}

footer{
    background-color: #801f79;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    color: white;
    height: 7vh;
    font-size: 0.8rem;
}

footer a{
    color: gray;
    text-decoration: none;
    font-size: 0.8rem;
}

footer a:hover{
    color: white;
}